<div class="container">

  <div class="my-4">
    <h2>マイページ</h2>

  </div>

  <div class="col-8 off-set-4">

    <table class="table table-bordered">
      <tr>
        <th>氏名</th>
        <td><%= current_customer.family_name %> <%= current_customer.first_name %></td>
      </tr>

      <tr>
        <th>カナ</th>
        <td><%= current_customer.family_name_kana %> <%= current_customer.first_name_kana %></td>
      </tr>

      <tr>
        <th>性別</th>
        <td><%= current_customer.sex %></td>
      </tr>

      <tr>
        <th>郵便番号</th>
        <td><%= current_customer.postal_code %></td>
      </tr>

      <tr>
        <th>住所</th>
        <td><%= current_customer.address %></td>
      </tr>

      <tr>
        <th>電話番号</th>
        <td><%= current_customer.telephone_number %></td>
      </tr>

      <tr>
        <th>メールアドレス</th>
        <td><%= current_customer.email %></td>
      </tr>
    </table>

    <div class="text-center">
        <%= link_to "編集する", edit_customer_registration_path, class:"btn btn-primary mr-4" %>
        <%= link_to "注文履歴", orders_path(@customer.id), class:"btn btn-success" %>
    </div>

  </div>

</div>