<div class="container">
  <div class="my-4 d-flex">

    <div>
      <h2>注文詳細</h2>
    </div>
    <div class="ml-auto">
      <p><br>お問い合わせ先 <a href="tel:070-9505-1373">070-9505-1373</a></p>
    </div>


  </div>

  <div class="row">


    <div class="col-12 md-mx-auto col-md-8">
      <h5>注文情報</h5>
      <table class="table table-bordered table-hover">

        <tr>
          <th>お届け日時</th>
          <td><%= l @order.delivery_day %> <%= l @order.delivery_time %></td>
        </tr>

        <tr>
          <th>お届け先</th>
          <td>
            〒<%= @order.postal_code %><br>
            <%= @order.address %><br>
            <%= @order.name %> 様
          </td>
        </tr>

        <tr>
          <th>お支払い方法</th>
          <td><%= @order.payment_method %></td>
        </tr>

        <tr>
          <th>ステータス</th>
          <td><%= @order.status_i18n %></td>
        </tr>
      </table>
    </div>


    <div class="col-6 col-md-4 off-set-6 md-off-set-0">
      <h5>請求情報</h5>
      <table class="table table-bordered table-hover">

        <tr>
          <th>商品合計</th>
          <td><%= @order.total_price.to_s(:delimited) %>円</td>
        </tr>

        <tr>
          <th>配達料</th>
          <td><%= @order.shipping_cost.to_s(:delimited) %>円</td>
        </tr>

        <tr>
          <th>請求金額</th>
          <td><%= @order.total_payment.to_s(:delimited) %>円</td>
        </tr>

      </table>
    </div>


    <div class="col-12 mt-md-4">
      <h5>注文内容</h5>
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="table-active">
            <th>商品</th>
            <th>単価</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>

        <% @order.order_details.each do |order_detail| %>
        <tbody>
          <tr>
            <td><%= link_to order_detail.item.name, item_path(order_detail.item) %></td>
            <td>¥<%= order_detail.item.price.to_s(:delimited) %></td>
            <td><%= order_detail.amount %></td>
            <td><%= (order_detail.item.price * order_detail.amount).to_s(:delimited) %>円</td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>

  </div>
</div>