<li>
  <%= link_to "商品一覧", items_path, class: "nav-link fas fa-drumstick-bite" %>
</li>
<li>
  <%= link_to "カート", cart_items_path, class: "nav-link fas fa-shopping-cart" %>
</li>
<li>
  <%= link_to "マイページ", customers_my_page_path, class: "nav-link fas fa-id-card" %>
</li>
<li>
  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"nav-link fas fa-door-open" %>
</li>
<li>
  <%= link_to "店舗情報", about_path, class: "nav-link fas fa-store-alt" %>
</li>
<li>
  <%= link_to "お問い合わせ", new_contact_path, class: "nav-link fas fa-comment-dots" %>
</li>