<li>
  <%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %>
</li>
<li>
  <%= link_to "ログイン", new_customer_session_path, class: "nav-link" %>
</li>
<li>
  <%= link_to "商品一覧", items_path, class: "nav-link" %>
</li>
<li>
  <%= link_to "店舗情報", about_path, class: "nav-link" %>
</li>
<li>
  <%= link_to "お問い合わせ", new_contact_path, class: "nav-link" %>
</li>
